@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

 * {
    font-family: 'Poppins',sans-serif;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

 }

 .game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #41da1a;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#72bbcb,#ffffff);
 }

 .pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 0.8s infinite linear;
 }
 .mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}
.jump {
    
    animation: jump 500ms ease-out;
 }
.clouds {
    position: absolute;
    width: 350px;
    animation: clouds 15s infinite linear;
    justify-content: center;
}
.score {
    
    position: absolute;
    background: white;
    width: 60px; 
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-left: 50%;
    display: flex;
    flex-direction: column;   
  
}

 @keyframes pipe-animation {
    from {
        right: -80px;
    
    }
    to {
        right: 100%;
    }

 }
 @keyframes jump {
    /*Inicio*/
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    
    /*Meio*/
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
    
    
    /*Fim*/


 }
 @keyframes clouds {
    from {
        right: -330px;
    }
    to {
        right: 100%;
    }

 }